<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{adminLayout}">

<th:block layout:fragment="headBlock">
	<link th:href="@{/plugins/datatables/dataTables.min.css}" rel="stylesheet" type="text/css">
</th:block>

<th:block layout:fragment="mainContent">
	<div class="content-header">
		<div class="header-title">
			<ol class="breadcrumb">
				<li><a href="/"><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">[[${menuTitle}]]</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-bd lobidrag">
				<div class="panel-heading">
					<div class="panel-title">
						<h4>[[${menuTitle}]]</h4>
					</div>
				</div>

				<div class="panel-body">
					<div class="form-group row">
						<div class="col-md-2">
							<select id="noticeKind" name="noticeKind" class="form-control">
								<option value="">전체</option>
								<option th:each="kind : ${noticeKinds}" th:value="${kind?.code}"
										th:utext="${kind?.codeLabel}">
								</option>
							</select>
						</div>
						<div class="col-md-6">
							<input type="text" id="schTxt" name="schTxt" class="form-control">
						</div>
						<div class="col-md-4 align-self-center text-end">
							<button class="btn btn-success" onclick="evSearch()">검색</button>
							<button class="btn btn-primary" onclick="evAdd()">추가</button>
						</div>
					</div>
					<div class="table-responsive" style="overflow-x:hidden">
						<table id="noticeGrid" class="table table-bordered table-striped table-hover">
							<thead>
							<tr>
								<th>종류</th>
								<th>작성자</th>
								<th>제목</th>
								<th>조회수</th>
								<th>작성일시</th>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="endBlock">
	<script th:src="@{/plugins/datatables/dataTables.min.js}"></script>
	<script>
	var noticeGrid = null;
	jQuery(document).ready(function() {
		"use strict"; // Start of use strict

		noticeGrid = jQuery("#noticeGrid").DataTable({
			dom: "<'row dataTableInner'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
				"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
			buttons: [
				{extend: 'copy', className: 'btn-sm'},
				{extend: 'csv', className: 'btn-sm'},
				{extend: 'excel', className: 'btn-sm'},
				{extend: 'pdf', className: 'btn-sm'},
				{extend: 'print', className: 'btn-sm'}
			],
			ajax: '/api/notice?useFlag=1',
			columns: [
				{'data':'noticeKind'},
				{'data':'writer'},
				{'data':'title'},
				{'data':'readCount'},
				{'data':'updatedAt'}
			]
		});
		jQuery('#noticeGrid tbody').on('click', 'tr', function () {
			let rowData = noticeGrid.row( jQuery(this) ).data();
			location.href = "/admin/notice/"+ rowData.noticeId;
		});
	});

	const evSearch = () => {
		let url = "/api/notice?useFlag=1";
		let schTxt = $("#schTxt").val();
		let noticeKind = $("#noticeKind").val();
		if ( schTxt ) {
			url += "&schTxt=" + schTxt;
		}
		if ( noticeKind ) {
			url += "&noticeKind=" + noticeKind;
		}
		noticeGrid.ajax.url( url ).load();
	}

	const evAdd = () => {
		location.href = "/admin/notice/add";
	}
	</script>

	<script th:src="@{/dist/js/theme.js}"></script>
</th:block>

</html>